@model books.Models.AdminViewModels.KitaplarVM

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
    var yazarlar = (ViewBag.Yazarlar as List<books.Models.AdminViewModels.YazarlarVM>) ?? new List<books.Models.AdminViewModels.YazarlarVM>();
    var diller = (ViewBag.Diller as List<books.Models.AdminViewModels.DillerVM>) ?? new List<books.Models.AdminViewModels.DillerVM>();
    var yayinevleri = (ViewBag.Yayinevleri as List<books.Models.AdminViewModels.YayinevleriVM>) ?? new List<books.Models.AdminViewModels.YayinevleriVM>();
}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Kitap Sil</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/Admin">Anasayfa</a></li>
          <li class="breadcrumb-item"><a href="/Admin/Kitaplar">Kitaplar</a></li>
          <li class="breadcrumb-item active">Kitap Sil</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- /.col-md-6 -->
      <div class="col-lg-6">
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Kitap Silme Onayı</h3>
          </div>
          <form method="post" action="/Admin/KitapSilOnay/@Model.Id">
            @Html.AntiForgeryToken()
            <div class="card-body">
              <div class="alert alert-warning">
                <h5><i class="icon fas fa-exclamation-triangle"></i> Uyarı!</h5>
                <strong>@Model.Adi</strong> isimli kitabı silmek istediğinize emin misiniz?
                Bu işlem geri alınamaz.
              </div>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <tr>
                    <th style="width: 150px">Kitap Adı</th>
                    <td>@Model.Adi</td>
                  </tr>
                  <tr>
                    <th>Yazar</th>
                    <td>@Model.YazarAdi @Model.YazarSoyadi</td>
                  </tr>
                  <tr>
                    <th>Yayınevi</th>
                    <td>@Model.YayineviAdi</td>
                  </tr>
                  <tr>
                    <th>Sayfa Sayısı</th>
                    <td>@Model.SayfaSayisi</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="card-footer">
              <a href="/Admin/Kitaplar" class="btn btn-default">Vazgeç</a>
              <button type="submit" class="btn btn-danger float-right">Sil</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
