@model List<books.Models.ViewModels.IndexVM>
@{
    ViewData["Title"] = "Home Page";
}

@* <h1>@ViewBag.TurId</h1>
    <h1>@ViewBag.YazarId</h1> *@

<div class="row">
    <h1 class="fw-bolder mb-4">@ViewBag.PageTitle</h1>
    @foreach (var kitap in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="~/images/book/@kitap.Resim" class="card-img-top" alt="@kitap.KitapAdi">
                <div class="card-body">
                    <h5 class="card-title">@kitap.KitapAdi</h5>
                    <p class="card-text">Yayın Tarihi: @kitap.YayinTarihi</p>
                    <a href="/Kitap/@kitap.Id" class="btn btn-primary">Detay</a>
                </div>
            </div>
        </div>
    }
</div>
