@model books.Models.ViewModels.YazarListVM

<div class="row">
    <div class="col-md-12">
        <h2>@Model.adi @Model.soyadi</h2>
        <p>Doğum Tarihi: @Model.dogumTarihi.ToShortDateString()</p>
        <p>Doğum Yeri: @Model.dogumYeri</p>
        <p>Cinsiyet: @(Model.cinsiyeti ? "Erkek" : "Kadın")</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3>Yazarın Kitapları</h3>
    </div>
    @foreach (var kitap in ViewBag.YazarinKitaplari)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="~/images/book/@kitap.Resim" class="card-img-top" alt="@kitap.KitapAdi">
                <div class="card-body">
                    <h5 class="card-title">@kitap.KitapAdi</h5>
                    <a href="/Kitap/@kitap.Id" class="btn btn-primary">Detay</a>
                </div>
            </div>
        </div>
    }
</div>

